#songs .song {
    text-align: center;
    margin-bottom: 10px;
}

button.cart {
    margin-left: 0px;
}

.underline {
    text-decoration: underline;
}

#logoutForm {
    margin-top: 10px;
}

.cart-product-image {
    width: 200px;
}

.even-margin {
    margin-bottom: 10px;
    margin-top: 10px;
}

.check_out {
    float: right;
    margin-left: 0px;
    margin-bottom: 50px;
}

.return_to_cart {
    float: left;
}

.orders-cart-summary .total,
.orders-cart-summary .cart_total,
.orders-cart-summary .quantity,
.orders-cart-summary .cart_quantity {
    text-align: center;
}

.orders-cart-summary .quantity-label {
    color: #696763;
    font-size: 18px;
}

.place_order {
    background: green;
}

.history-cart {
    margin-top: 25px;
}

.breadcrumb-light {
    margin-bottom: 20px;
}

.or-admin {
    margin-left: -40px;
    margin-top: -9px;
    margin-bottom: 25px;
}

.edit-item-admin {
    margin-left: -70px;
}

.new-item-admin {
    margin-left: 41px;
}

.admin-title {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.edit-album-image {
    width: 200px;
}

.search_box {
    margin-bottom: 10px;
}

.price-range {
    width: 265px;
}