@using System.Collections.Specialized
@model IEnumerable<OnlineShopProject.Models.ArtistModel>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    @*<li>
            <a href="@Url.Action("Filter", "Albums", new {artistId = item.Id})">
                @Html.DisplayFor(modelItem => item.Name)
            </a>
        </li>*@
    @Helpers.AddParamToUrl("artistId", item.Id.ToString(), item.Name, new UrlHelper(Request.RequestContext));
}